.swatches {
  display: block;
  margin: 0 -15px;
  padding: 0;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

	li {
    display: block;
		text-align: center;
		@include make-sm-column(4);
    @include make-lg-column(3);
    box-shadow: inset 0px 0px 0px 4px $okf-lightgrey;
    border: solid 15px $body-bg;
    padding: 10px;
    background-color: #fff;
	}

	.color-swatch {
		position: relative;
		width: 100%;
		padding: 50% 0;

		&::before, &::after {
			/* lighter and darker color shades of the same swatch */
			content: '';
			position: absolute;
			bottom: 0;
			width: 50%;
			height: 20%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

  span {
    display: block;
		padding-top: .6em;
  }

	b {
		display: block;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '#';
    }

    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

	li:nth-of-type(1) {
    .color-swatch {
  		background: $colour-1;

  		&::before {
  			background: lighten($colour-1, 5%);
  		}

  		&::after {
  			background: darken($colour-1, 5%);
  		}
  	}

    b:after {
      content: "#{$colour-1}";
    }
  }

	li:nth-of-type(2) {
    .color-swatch {
  		background: $colour-2;

  		&::before {
  			background: lighten($colour-2, 5%);
  		}

  		&::after {
  			background: darken($colour-2, 5%);
  		}
    }

    b:after {
      content: "#{$colour-2}";
    }
	}

	li:nth-of-type(3) {
    .color-swatch {
  		background: $colour-3;

  		&::before {
  			background: lighten($colour-3, 5%);
  		}

  		&::after {
  			background: darken($colour-3, 5%);
  		}
    }

    b:after {
      content: "#{$colour-3}";
    }
	}

	li:nth-of-type(4) {
    .color-swatch {
  		background: $colour-4;

  		&::before {
  			background: lighten($colour-4, 5%);
  		}

  		&::after {
  			background: darken($colour-4, 5%);
  		}
    }

    b:after {
      content: "#{$colour-4}";
    }
	}

	li:nth-of-type(5) {
    .color-swatch {
  		background: $colour-5;

  		&::before {
  			background: lighten($colour-5, 5%);
  		}

  		&::after {
  			background: darken($colour-5, 5%);
  		}
    }

    b:after {
      content: "#{$colour-5}";
    }
	}
}
