@import 'normalize';
@import 'layout';

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

$okf-primary: #69b93b;
$okf-secondary: #da2e29;
$okf-secondary-alt: #29a5da;
$okf-darkgrey: rgb(45, 45, 45);
$okf-midgrey: rgb(142, 142, 142);
$okf-lightgrey: rgb(240, 240, 240);

// colour swatches
$colour-1: $okf-primary; // Green
$colour-2: $okf-secondary; // Red
$colour-3: $okf-secondary-alt; // Blue
$colour-4: $okf-darkgrey; // Grey
$colour-5: #fff;

@import 'swatch';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  background-color: $okf-lightgrey;
  color: $okf-darkgrey;
  font-family: 'Lato', sans-serif;

  * {
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  }
}

a {
	text-decoration: none;
  color: $okf-primary;
}

img {
	max-width: 100%;
}


main {
	width: 90%;
	max-width: $M;
	margin: 0 auto;
	padding: 50px 0;

	header {
		text-align: center;
    font-size: 20px;
    clear: both;

    h1 {
      margin: 0 0 5px 0;
      font-size: 32px;
    }

    a {
      color: inherit;
    }
	}

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
  }

	@include MQ(M) {
		padding-top: 80px;
	}

	@include MQ(L) {
		max-width: none;
		padding: 120px 0 50px;
	}
}

section {
	margin: 3em 0;
	@include clearfix;

	h2::before {
		content: '1. ';
	}

  & + section {
    h2::before {
  		content: '2. ';
  	}
  }


	@include MQ(S) {
		margin: 3em 0 5em;
	}

	@include MQ(L) {
		@include column(.48);
		margin: 0 4% 4em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}

.box {
	border: 1px solid $okf-lightgrey;
	background: #fff;
	padding: 6px;

  &.coloured {
    background-color: $okf-primary;
    color: #fff;
  }
}

.branding {
	.box {
		margin-bottom: 1em;
    padding: 50px;
    text-align: center;
	}

	ul {
		padding: .6em 0 0 0;
    margin: 0;

		li {
			display: inline-block;
			margin-right: 1em;
		}
	}

	@include MQ(S) {
		.box {
			@include column(.49);
			margin: 0 2% 2em 0;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
}

.merchandise {
  .box {
		margin-bottom: 1em;
  }

  img {
		display: block;
		width: 100%;
	}

  ul {
    padding: .6em 0 0 0;
    margin: 0;

		li {
			display: inline-block;
			margin-right: 1em;
		}
  }

  @include MQ(S) {
		.box {
			@include column(.49);
			margin: 0 2% 2em 0;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
}
